---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>

  <ul class="post-list">

    {% assign game_list = site.categories["game"] %}
    {% assign game_list = game_list | sort:"weight" %}
    {% for game in game_list reversed limit : 10  %}

      <div class = post-container>

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ game.title }}</h1>

          </header>

          <div class="post-description">
            <li class="post-meta" itemprop="style headline"">Style : {{ game.style }}</li>
            <li class="post-meta" itemprop="engine headline">Made with {{ game.engine }}</li>
            <li class="post-meta" itemprop="release headline"> {{ game.year }}</li>
            <li class="post-meta" itemprop="release headline"> {{ game.description }}</li>
          </div>

          <div class="post-content">
          {% if {{game.video}} != "" %}
              <div class="fluidMedia">
                  <iframe src={{ game.video }} frameborder="0" allowfullscreen></iframe>
              </div>
          {% endif %}
          {% if {{game.image}} != "" %}
              <div class="fluidMedia">
                  <iframe src={{ game.image }} frameborder="0" allowfullscreen></iframe>
              </div>
          {% endif %}

          </div>
      </div>

    {% endfor %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<div class="infinite-spinner"></div>
