---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>

  <ul class="post-list">

    {% assign game_list = site.categories["game"] %}
    {% assign game_list = game_list | sort:"weight" %}
    {% for game in game_list reversed  %}

      <div class = "post">

          <header class="game-header">
            <h1 class="post-title" itemprop="name headline">{{ game.title }}</h1>

          </header>

          <div class="game-description">
            <li class="game-meta" >{{ game.style }}</li>
            <li class="game-meta" >Made with {{ game.engine }}</li>
            {% if {{game.layout}} == "gamejam" %} 
              <li class="game-meta" > Made for {{ game.jam }}</li> 
            {% endif %}
            <li class="game-meta" > {{ game.year }}</li>
            <li class="game-meta-description" > {{ game.content }}</li>
          </div>

          <div class="game-content">
          {% if {{game.video}} != "" %}
              <div class="fluidMedia">
                  <iframe src={{ game.video }} frameborder="0" allowfullscreen></iframe>
              </div>
          {% endif %}
          {% if {{game.image}} != "" %}
              <div class="fluidMedia-image">
                  <img src={{ game.image }} class="game-image">
              </div>
          {% endif %}

          </div>
      </div>

    {% endfor %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<div class="infinite-spinner"></div>
