footer {
	font-size: 1.3em;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-align: center;
	    align-items: center;
}
footer hr {
	margin: 15px 0;
}
footer .content-container {
	margin: 0 auto;
}
footer .links {
	list-style-type: none;
	margin: 15px 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
footer .links li {
	display: inline-block;
	margin-right: 40px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
}
footer .links li:hover {
	color: #4FEACC;
}
footer .links img {
	margin-right: 5px;
}
footer p {
	font-size: 1.2em;
	font-weight: bold;
}
footer .link-icon {
	width: 16px;
	height: auto;
}
footer .footer-help-text {
	font-size: 0.7em;
}

@media screen and (max-width: 450px) {
	footer p {
		font-size: 1em;
	}
}