<div class="content-container">
	<ul class="links">
		<a href="https://github.com/sprawls"><li> <img class="link-icon" src="public/Entropy/images/github.svg" /> View my Github</li></a>
		<a href="https://twitter.com/Alexis_Lessard"><li> <img class="link-icon" src="public/Entropy/images/twitter.svg" /> Follow me on Twitter</li></a>
		<a href="https://www.linkedin.com/in/alexis-lessard-9374b811a/"><li> <img class="link-icon" src="public/Entropy/images/linkedin.svg" /> I'm on LinkedIn</li></a>
	</ul>
	<hr />
	<p>A game by Alexis Lessard &copy; 2016</p>
	<p class="footer-help-text">Website made with the help of Gabrielle Bastien</p>
</div>