<section id="fundingSection">

    <div class="content-container col-xs-12">
        <p id="support-title"> Support The Game ! </p>
        <p> This game was made for you, pay what you think it's worth ! </p>

        
        <!-- PAYPAL ! -->
        <div id="paypal-btn">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8D655V7GH9AG2">
            <button border="0" name="submit" class="btn btn-success" alt="PayPal - The safer, easier way to pay online!"> Tip Now </button>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
    </div>

</section>