<section id="fundingSection">

    <div class="content-container col-xs-12">
        <p id="support-title"> Support The Game ! </p>
        <p> This game was made for you, pay what you think it's worth ! </p>
        <p> A new update will be created every time a goal is reached ! </p>

        <!-- Progress Bar using PayPal API ? -->
        <div class="progress-container col-xs-12">
            <div class="progress col-md-8 col-md-offset-2">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="16.6" aria-valuemin="0" aria-valuemax="100" style="width: 16.6%;"> 
              </div>
            </div>
            
        </div>
        <p id="funding-description" > Next Update : Supercluster Virgo </p>
        <p id="progress-number"><span id="current-donations">83</span> / 500$</p>
        <!-- PAYPAL ! -->
        <div id="paypal-btn">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8D655V7GH9AG2">
            <button border="0" name="submit" class="btn btn-success" alt="PayPal - The safer, easier way to pay online!"> Tip Now </button>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
    </div>

</section>