<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">

  <title>Entropy Game Showcase Website - A game by Alexis Lessard</title>
  <meta name="description" content="Entropy is a challenging puzzle game about balancing the universe, targeting the mobile market. It is free to play but donations are accepted to improve the game.">

  <link rel="stylesheet" href="{{ "/css/Entropy/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" type="text/css" href="public/lib/Bootstrap/bootstrap.min.css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="public/lib/Bootstrap/bootstrap.min.js"></script>

  <!-- AOS - Animate on scroll -->
  <link rel="stylesheet" type="text/css" href="css/Entropy/aos.css">
  <script type="text/javascript" src="js/Entropy/aos.js"></script>

  <script type="text/javascript" src="public/lib/granim/granim.min.js"></script>
  <script type="text/javascript" src="js/Entropy/autoplay.js"></script>


</head>
