
<h1 id="main-title" class="title"> Entropy </h1>

<!-- HEADER VIDEO -->
<video id="header-video" autoplay loop>
	<source src="public/Entropy/videos/particles.webm" type="video/webm">
	<source src="public/Entropy/videos/particles.ogv" type="video/ogg">
	<source src="public/Entropy/videos/particles.mp4" type="video/mp4">
	<img src='public/Portfolio/images/img_entropy.png' />
	Your browser does not support the HTML5 video tag
</video>

<!-- GET IT ON GOOGLE PLAY -->
<a if="google-play-btn" href="https://play.google.com/store/apps/details?id=com.StudioMastodonte.Entropy&hl=en" target="_blank" >
  <img src='public/Entropy/images/img_google_play_button.png' class="overImageBot" id="googlePlayButton"/>
</a>

