
<section id="infoSection" class="row">

	<div class="flex-container">
		<div id="quote-container">
		    <p data-aos="fade-down"> 
		      <p> Entropy is a challenging puzzle about balancing the universe. </p>
			  </br>
		      <p> Rotate the triangles in order for all of them to have a different element on all their edges. </p>
		      <p> Contains over 60 handcrafted levels !</p>
		    </p>
		</div>
	    <!-- maybe include automatic slideshow -->
	    <img class=" img-responsive info-img" src="public/Entropy/images/game_screenshot_2.png">    
	    <!--
	    	<img class="col-md-4 col-sm-5 img-responsive" src="public/Entropy/images/game_screenshot_4.png">  
			<img class="col-md-4 col-sm-5 img-responsive" src="public/Entropy/images/game_screenshot_1.png">  
			<img class="col-md-4 col-sm-5 img-responsive" src="public/Entropy/images/game_screenshot_3.png">  
	    -->
	</div>
	
</section>