<section id="infoSection" class="row">

      <div>
            <h2> Description </h2>
            <p> Hello, I'm Alexis Lessard, a game developer from Canada. I make all kinds of games in my free time. </p>

            <h2> History </h2>
            <h3> Beginning </h3>
            <p> I made games for fun </p>
            <h3><a href="http://sprawls.github.io/entropy"> Entropy </a></h3>
            <p> I made a full game </p>
            <h3> Ubisoft </h3>         
            <p> I got paid to make games </p>
            <h3> Somos </h3>
            <p> I'm making another game for fun </p>

      </div>
	
</section>