<section id="infoSection" class="row">

      <div>
            <h2> Description </h2>
            
            <p> Alexis Lessard is a game developer that worked at Ubisoft on projects such as the Watch Dogs brand and Transference. </p>

            <p> In parallel, he's worked on a lot of smaller experiences during his free time. One of those ideas that became a full game was SOMOS, an abstract action-oriented game about discovery. About a year into development, he met Jacob which joined the team to bring the game's audio to life.</p>

            <p> Alexis is currently working at Manavoid where he spends most of his time on Steamboat Billy. </p>


      </div>
	
</section>