<section id="infoSection" class="row">

<h2> Facts </h2>
	<div>
      <h3> Developer </h3>
      <p> Alexis Lessard </p>
      <p> Based in Quebec, Canada </p>

      <h3> Website </h3>
      <p> <a href="http://sprawls.github.io" >http://sprawls.github.io </a></p>

      <h3> Contact </h3>
      <p> alexis_lessard@outlook.com </p>

      <h3> Social </h3>
      <p><a href="https://twitter.com/Alexis_Lessard"> https://twitter.com/Alexis_Lessard </a></p>

      <h3> Releases </h3>
      <p><a href="http://sprawls.github.io/entropy"> Entropy </a> <a href="https://play.google.com/store/apps/details?id=com.StudioMastodonte.Entropy&hl=en">(Mobile) </a></p>

	</div>
	
</section>