<section id="infoSection" class="row">
      <h2> Gallery </h2>
      <div class="Presskit-MediaGallery">
            <img src="/public/Portfolio/images/img_me_2.jpg">
            <img src="/public/Portfolio/images/img_me.jpg">
            <img src="/public/Portfolio/images/img_me_3.jpg">
      <!--<h3> Entropy </h3>-->
            <img src="/public/Entropy/images/game_screenshot_5.png">
            <img src="/public/Entropy/images/game_screenshot_2.png">
            <img src="/public/Entropy/images/game_screenshot_3.png">
      
      <!--<h3> Somos </h3>-->
            <img src="/public/Portfolio/images/somos_1.png">
            <img src="/public/Portfolio/images/somos_2.png">
            <img src="/public/Portfolio/images/somos_3.png">
            <img src="/public/Portfolio/images/somos_4.png">
      </div>
</section>