<section id="infoSection" class="row">
      <h2> Gallery </h2>


      <h1 class="Presskit-Media-Title"> SOMOS </h1>
      <div class="Presskit-MediaGallery">      

            <div class="iframe-wrapper"><div class="iframe-ctn-16-9"> <iframe src="https://gfycat.com/ifr/BlushingGratefulDutchshepherddog" frameborder="0" allowfullscreen></iframe></div></div>   
            <div class="iframe-wrapper"><div class="iframe-ctn-16-10"><iframe src="https://gfycat.com/ifr/LavishDismalHalicore" frameborder="0" allowfullscreen></iframe>  </div> </div>
            <div class="iframe-wrapper"><div class="iframe-ctn-16-10"><iframe src="https://gfycat.com/ifr/TenseHorribleAsiaticmouflon" frameborder="0" allowfullscreen></iframe> </div> </div> 

            <img src="/public/Portfolio/images/somos_1.png">
            <img src="/public/Portfolio/images/somos_2.png">
            <img src="/public/Portfolio/images/somos_3.png">
            <img src="/public/Portfolio/images/somos_5.png">
            <img src="/public/Portfolio/images/somos_7.png">
            <img src="/public/Portfolio/images/somos_8.png">
          


            <img src="/public/Somos/logo_1.png">
            <img src="/public/Somos/logo_sf.png">
            <img src="/public/Somos/promo_4.png">
            <img src="/public/Somos/promo_2.png">
            <img src="/public/Somos/promo_3.png">

      </div>

      <h1 class="Presskit-Media-Title"> Other </h1>
      <div class="Presskit-MediaGallery">
            <img src="/public/Portfolio/images/img_me_2.jpg">
            <img src="/public/Portfolio/images/img_me.jpg">
            <img src="/public/Portfolio/images/img_me_3.jpg">
      <!--<h3> Entropy </h3>-->
            <img src="/public/Entropy/images/game_screenshot_5.png">
            <img src="/public/Entropy/images/game_screenshot_2.png">
            <img src="/public/Entropy/images/game_screenshot_3.png">
      </div>




</section>