<section id="somos-cover" class="cover">
	<div class="cover-section-background-ctn">
		<div class="bk-black"></div><div class="bk-white"></div>
	</div>
	<div class="cover-section-content">
		<div class="logo-ctn">
			<img src="/public/Somos/logo_sf.png" alt="SOMOS"/>
		</div>
		<div class="left-content cover-content in-view" data-order="1">
			<div class="left-content-inner video-section">
				<div class="gif-ctn">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/XUuMDh4180o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					 allowfullscreen></iframe>
					<!--<img src="/public/Somos/videos/Montage_1.gif" alt="Somos animated gameplay" />-->
				</div>
				<div class="mailingList">
					{% include Somos/mailchimp-form.html %}
				</div>
			</div>
		</div>
		<div class="left-content cover-content" data-order="3">
			<div class="left-content-inner gallery-ctn">
				<div class="gallery">
					<div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
					--><div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
					--><div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
					--><div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
				--></div>
				<div class="mailingList">
					{% include Somos/mailchimp-form.html %}
				</div>
			</div>
		</div>
	 	<div class="right-content cover-content" data-order="2">
			<div class="right-content-inner award-ctn">
				<div class="award">
					<div class="award-inner">
						<div>
							{% include Somos/svg/award-branch-left.svg %}
						</div>
						<div>
							<p class="p1">MIGF</p>
							<p>Best Mobile Game</p>
						</div>
						<div class="reverse-image">
							{% include Somos/svg/award-branch-left.svg %}
						</div>
					</div>
				</div>
				<p class="description">
					<span>SOMOS is an abstract action game coming to mobile and desktop. Switch side to avoid and disrupt the obstacles in order
						to complete the challenges that await you !</span>
				</p>
				
				<div class="steam-container">
					<iframe src="https://store.steampowered.com/widget/706510/" frameborder="0" width="646" height="190"></iframe>
				</div>
			</div>
		</div>
		<div class="right-content cover-content" data-order="4">
			<div class="right-content-inner mailing-section">
				<div class="mailingList">
					<p class="description">
						<span>Want to hear about important updates ?</span>
					</p>
					{% include Somos/mailchimp-form.html %}
					<div class="social-ctn">
						<a class="twitter-link" href="https://twitter.com/alexis_lessard">{% include Somos/svg/twitter.html %} </a>
						<a class="twitter-link" href="https://www.facebook.com/SOMOSGame/">{% include Somos/svg/facebook.svg %}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="icon-ctn">
			<div class="ring-ctn">
				{% include Somos/svg/circle.html %}
				<div> 			
					{% include Somos/svg/ring.html %}
					<p>
						Press To Switch
					</p>
				</div>

			</div>
		</div>



		<div class="logos-ctn">
			<img src="/public/Somos/windows.png" alt="windows"/>
			<img src="/public/Somos/apple.png" alt="apple"/>
			<img src="/public/Somos/android.png" alt="android"/>
			<img src="/public/Somos/unity.png" alt="unity"/>
			<img src="/public/Somos/steam.png" alt="steam"/>
			<img src="/public/Somos/itchio.png" alt="itch io"/>
		</div>
	</div>
</section>