<section id="somos-cover" class="cover">
	<div class="cover-section-background-ctn">
		<div class="bk-black"></div><div class="bk-white"></div>
	</div>
	<div class="cover-section-content">
		<div class="logo-ctn">
			<img src="/public/Somos/logo_sf.png" alt="SOMOS"/>
		</div>
		<div class="left-content cover-content in-view" data-order="1">
			<div class="left-content-inner">
				<p class="description">
					<span>SOMOS is an abstract action game coming to mobile and desktop. Switch side to avoid and disrupt the obstacles in order to complete the multiple challenges that await !</span>
				</p>
				<a class="twitter-link" href="https://twitter.com/alexis_lessard">{% include Somos/svg/twitter.html %} Follow me on Twitter!</a>
			</div>
		</div>
		<div class="left-content cover-content" data-order="3">
			<div class="left-content-inner">
				<div class="gif-ctn">
					<img src="/public/Somos/videos/Montage_1.gif" alt="Somos animated gameplay" />
				</div>
			</div>
		</div>
	 	<div class="right-content cover-content" data-order="2">
			{% include Somos/mailchimp-form.html %}
		</div>
		<div class="right-content cover-content" data-order="4">
			<div class="right-content-inner gallery">
				<div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
				--><div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
				--><div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
				--><div class="img-ctn"><div class="img-ctn-inner"></div></div><!--
			--></div>
		</div>
		<div class="icon-ctn">
			<div class="ring-ctn">
				{% include Somos/svg/circle.html %}
				<div> 			
					{% include Somos/svg/ring.html %}
					<p>
						Press To Switch
					</p>
				</div>

			</div>
		</div>



		<div class="logos-ctn">
			<img src="/public/Somos/windows.png" alt="windows"/>
			<img src="/public/Somos/apple.png" alt="apple"/>
			<img src="/public/Somos/android.png" alt="android"/>
			<img src="/public/Somos/unity.png" alt="unity"/>
			<img src="/public/Somos/steam.png" alt="steam"/>
			<img src="/public/Somos/itchio.png" alt="itch io"/>
		</div>
	</div>
</section>