<div class="cover-mobile-content">
    <h3 class="title">About SOMOS</h3>
    <p class="description">
        <span>SOMOS is an abstract action game coming to mobile and desktop. Switch side to avoid and disrupt the obstacles in order to complete the multiple challenges that await !</span>
    </p>
    <div class="steam-container">
        <iframe src="https://store.steampowered.com/widget/706510/" frameborder="0" width="646" height="190"></iframe>
    </div>
    <a class="twitter-link" href="https://twitter.com/alexis_lessard">{% include Somos/svg/twitter.html %} Follow me on Twitter!</a>
    <a class="twitter-link" href="https://www.facebook.com/SOMOSGame/">{% include Somos/svg/facebook.svg %} Join the Group on Facebook!</a>

    <div class="gif-ctn">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XUuMDh4180o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <!--<img src="/public/Somos/videos/Montage_1.gif" alt="Somos animated gameplay" />-->
    </div>

    <div class="newsletter-form-ctn">
        <div class ="mailingList">
            <p class="description">
                <span>Want to hear about important updates ?</span>
            </p>
            {% include Somos/mailchimp-form.html %}
        </div>
    </div>

    <div class="gallery">
        <img class="gallery-img" src="/public/Somos/gallery/somos_1.png" alt="Somos screenshot" /><!--
        --><img class="gallery-img" src="/public/Somos/gallery/somos_2.png" alt="Somos screenshot" /><!--
        --><img class="gallery-img" src="/public/Somos/gallery/somos_3.png" alt="Somos screenshot" /><!--
        --><img class="gallery-img" src="/public/Somos/gallery/somos_4.png" alt="Somos screenshot" /><!--
    --></div>

    <div class="mobile-footer"><p>A game by Alexis Lessard</p></div>
</div>