<div class="cover-mobile-content">
    <h3 class="title">About SOMOS</h3>
    <p class="description">
        <span>SOMOS is an abstract action game where the play area is separated in two sides.  Switching side and interacting with the various obstacles is key to survival. Obstacles can only hurt on their side of the screen, but they can only be destroyed from the opposide side ! A careful balance between movement and offense is required to complete the various challenges that await !</span>
        <span>The core of SOMOS lies in its many challenges. Each of them offers a different experience since they bend the rules and mechanics. Completing those trials will unlock custome color palettes that changes the look of the game.. and sometimes a bit more !</span>
    </p>
    <a class="twitter-link" href="https://twitter.com/alexis_lessard">{% include Somos/svg/twitter.html %} Follow me on Twitter!</a>
    {% include Somos/mailchimp-form.html %}
</div>