#fundingSection {
	height: 400px;
	background-color: #EDEDED;
	padding: 20px;
	border-top: 1px solid #DFDFDF;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
}
#fundingSection p {
	font-size: 1.7em;
	font-weight: bold;
}
#fundingSection #funding-description {
	font-size: 1.1em;
	font-weight: normal;
}
#fundingSection .progress-container {
	margin-top: 20px;
}
#fundingSection #progress-number {
	margin-bottom: 30px;
}
#fundingSection .progress {
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
	padding: 0;
}
#fundingSection .progress .progress-bar {
	font-size: 1.2em;
	line-height: 30px;
}
#paypal-btn button {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;

	animation: bounce 0.35s ease infinite alternate;
}


@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-10px);}
}