#infoSection,
#infoSection p,
#infoSection img {
	padding: 0;
	margin: 0;
}
#infoSection p {
	font-style: italic;
	font-size: 1.7em;
}
#infoSection .flex-container {
	padding: 20px 45px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-pack: justify;
	    justify-content: center;
}
.img-responsive.info-img {
	display: none;
	width: 30%;
}


@media screen and (max-width: 600px) {
	.img-responsive.info-img {
		display: block;
		width: 100%;
	}
	#infoSection .flex-container {
		-ms-flex-direction: column;
	    flex-direction: column;
	    padding: 0;
	}
	#infoSection p {
		padding: 0 45px;
		font-size: 1.5em;
	}
	#quote-container {
		margin: 20px 0;
	}
}
@media screen and (max-width: 767px) {
	#infoSection p {
		font-size: 1.6em;
	}
	#infoSection .flex-container {
		display: block;
	}
}
@media screen and (max-width: 480px) {
	#infoSection p {
		font-size: 1.3em;
	}
}
