#infoSection,
#infoSection p,
#infoSection img {
	padding: 0;
	margin: 0;
}
#infoSection p {
	font-style: italic;
	font-size: 1.9em;
}
#infoSection p .quote-mark {
	font-size: 140%;
	font-family: "Georgia", serif;
}

#infoSection .flex-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
}


@media screen and (max-width: 880px) {
	#infoSection p {
		padding: 0 60px;
		font-size: 1.5em;
	}
}
@media screen and (max-width: 767px) {
	#infoSection p {
		margin: 40px 0;
		font-size: 1.6em;
	}
	#infoSection .flex-container {
		display: block;
	}
}
@media screen and (max-width: 450px) {
	#infoSection p {
		font-size: 1.3em;
	}
}
