---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Font import
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/*Custom values*/
$small-width:      800px;
$img-margin-small: 10px;


/////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  Custom CSS for Site Header //////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.headerSection {
	position : relative;
	width: 100%;
}

.headerSection .textOverImageTop {
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.headerSection .textOverImageBot {
	position: absolute; 
   	top: 200px; 
   	left: 0; 
   	width: 100%; 
}


.headerSection .BackgroundGif {

}

#googlePlayButton {
	width: 10em;
	height: 4em;
}